<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparrowzoo.coder.dao.UserExampleDAO">
<resultMap id="UserExampleMap" type="com.sparrowzoo.coder.po.UserExample">
<id column="id" property="id" />
 <result column="user_name" property="userName"/>
 <result column="chinese_name" property="chineseName"/>
 <result column="birthday" property="birthday"/>
 <result column="email" property="email"/>
 <result column="mobile" property="mobile"/>
 <result column="tel" property="tel"/>
 <result column="id_card" property="idCard"/>
 <result column="gender" property="gender"/>
 <result column="age" property="age"/>
 <result column="create_user_name" property="createUserName"/>
 <result column="create_user_id" property="createUserId"/>
 <result column="modified_user_id" property="modifiedUserId"/>
 <result column="modified_user_name" property="modifiedUserName"/>
 <result column="gmt_create" property="gmtCreate"/>
 <result column="gmt_modified" property="gmtModified"/>
 <result column="deleted" property="deleted"/>
 <result column="status" property="status"/>
</resultMap>
<sql id="fields">
`id`,`user_name`,`chinese_name`,`birthday`,`email`,`mobile`,`tel`,`id_card`,`gender`,`age`,`create_user_name`,`create_user_id`,`modified_user_id`,`modified_user_name`,`gmt_create`,`gmt_modified`,`deleted`,`status`
</sql>
<insert id="insert" parameterType="com.sparrowzoo.coder.po.UserExample"  useGeneratedKeys="true" keyColumn="id" keyProperty="id">
insert into `user_example`(
`user_name`,
`chinese_name`,
`birthday`,
`email`,
`mobile`,
`tel`,
`id_card`,
`gender`,
`age`,
`create_user_name`,
`create_user_id`,
`modified_user_id`,
`modified_user_name`,
`gmt_create`,
`gmt_modified`,
`deleted`,
`status`)values(
#{userName},
#{chineseName},
#{birthday},
#{email},
#{mobile},
#{tel},
#{idCard},
#{gender},
#{age},
#{createUserName},
#{createUserId},
#{modifiedUserId},
#{modifiedUserName},
#{gmtCreate},
#{gmtModified},
#{deleted},
#{status})</insert> 
<update id="update" parameterType="com.sparrowzoo.coder.po.UserExample">
update `user_example` set 
`user_name`=#{userName},
`chinese_name`=#{chineseName},
`birthday`=#{birthday},
`email`=#{email},
`mobile`=#{mobile},
`tel`=#{tel},
`id_card`=#{idCard},
`gender`=#{gender},
`age`=#{age},
`modified_user_id`=#{modifiedUserId},
`modified_user_name`=#{modifiedUserName},
`gmt_modified`=#{gmtModified},
`deleted`=#{deleted} where id=#{id}
</update>
<delete id="delete" parameterType="java.lang.Long">
delete from `user_example` where id=#{id}
</delete>
<select id="getEntity" resultMap="UserExampleMap" parameterType="java.lang.Long">
 SELECT 
<include refid="fields"/>
 FROM 
user_example
WHERE id= #{id}
</select>
<update id="changeStatus" parameterType="com.sparrow.protocol.dao.StatusCriteria">
update `user_example` set `status`=#{status},
`modified_user_name`=#{modifiedUserName},
 `modified_user_id`=#{modifiedUserId},
 `gmt_modified`=#{gmtModified} WHERE id IN
<foreach collection="idArray" item="id" index="index" open="(" close=")" separator=",">
#{id}</foreach>
</update></mapper>